.container {
  display: flex;
  height: 100vh;
}

.left {
  background-color: var(--chat-menu-background-color);
}

.middle {
  background-color: var(--chat-list-background-color);

  .chat-item {
    height: 70px;
    cursor: pointer;
  }

  .chat-item:hover {
    background-color: var(--sekect-chat-item-background-color);
  }

  .chat-item-select {
    background-color: #0099FF !important;
  }
}


.right {
  
  background-color: var(--chat-panel-background-color);
  flex-grow: 1;
}

.resizer {
  body[theme-mode='dark'] & {
    cursor: ew-resize;
    background-color: var(--verticle-division-color);
    width: 2px;
    height: 100%;
  }
}

htmL {

  overflow: hidden;
}

#root {
  height: 100vh;
  width: 100%;

  body[theme-mode='dark'] & {
    color: #F2F2F2;
  }

  body:not([theme-mode='dark']) & {
    color: #111111;
  }
}

.left-item {
  max-height: 40px;
  max-width: 40px;
  height: 40px;
  width: 40px;
  border-radius: 8px;
  margin-bottom: 8px;
  user-select: none;
  cursor: pointer;

  body[theme-mode='dark'] & {
    color: #F2F2F2;
  }

  body:not([theme-mode='dark']) & {
    color: #111111;
  }
}

.left-item-select {
  background-color: var(--select-background-color);

  .icon-menu {
    fill: #0A6CCE !important;
    // 填充内部颜色
    stroke: #0A6CCE !important;
    // 填充外部颜色
  }
}

.left-item:hover {
  background-color: var(--select-background-color);
}


.menu {
  background-color: var(--select-background-color);
}

.menu-item {
  height: 25px;
  user-select: none;
  cursor: pointer;
  border-radius: 8px;
  text-align: center;
  line-height: 20px;
}

.left-menu-item{
  border-radius: 8px;
}

.left-menu-item:hover{
  background-color: var(--select-background-color);
}